

.row {
  display: flex;
  flex: 1 1 auto;
  height: auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  height: auto;
  flex-wrap: nowrap;
  @include small {
    min-width: 100%;
  }
}

.row > .column {
  &.column.full { width: 100%; }
  &.column.two-thirds { width: 66.7%; }
  &.column.half { width: 50%; }
  &.column.third { width: 33.3%; }
  &.column.fourth { width: 25%; }
  @include small {
    width: 100% !important;
  }
}

