/*  header  */
header {
  width: 100%;
  background: #fff;
  border-bottom: 1px solid $light-grey;

  nav {
      height: 4em;

    .fa-bars {
      display: none;

      vertical-align: baseline-middle;
      @media screen and (max-width: 420px) {
        display: inline-block;
        line-height: 2em;
      }
    }

    ul {
      height: inherit;

      li {
        display: inline-block;
        margin: 0 1em;
        list-style: none;
        line-height: 4em;

        &:first-of-type {
          margin-left: 2em;
        }

        .current {
          color: #000;
        }

        > a {
          text-decoration: none;
          vertical-align: sub;

          color: $middle-grey;
          font-family: "raleway-semibold", arial;
          font-weight: bold;
          font-size: 1em;
          letter-spacing: 1px;

          transition: .1s linear;
          -webkit-transition: .1s linear;

          &.logo {
            position: relative;

            margin-bottom: -0.3em;
              &:after {
                content: "\f111";
                margin-left: -0.9em;
                font-family: 'FontAwesome';
                font-size: 0.3em;
                display: inline-block;
                color: $mute-orange;
              }
            }

          &:hover {
            color: #000;
          }


        }

        .fa-bars {
          display: none;
        }

        @media screen and (max-width: 420px) {
          display: none;
        }
      }
    }
  }


}

@media only screen and (min-width: 768px) {

  a.to_nav {

  }

}
