.overflow__hidden { overflow: hidden; }
.overflow__scroll { overflow: scroll; }
.overflow__auto   { overflow: auto; }

.cursor--pointer  { cursor: pointer; }

.position__relative { position: relative; }
.position__absolute { position: absolute; }
.position__fixed    { position: fixed; }

.pull__left  { float: left; }
.pull__right { float: right; }

@for $i from 1 through 8 {
  .margin__top__#{$i} {
      margin-top: #{$i}em;
  }
  .margin__bottom__#{$i} {
      margin-bottom: #{$i}em;
  }
  .margin__left__#{$i} {
      margin-left: #{$i}em;
  }
  .margin__right__#{$i} {
      margin-right: #{$i}em;
  }
}

.text {
  &__tiny {
    font-size: .7em;
  }

  &__smaller {
    font-size: .8em;
  }

  &__small {
    font-size: .9em;
  }

}