.profile {
  position: relative;
  width: 230px;
  margin-right: 1em;
  margin-top: 7px;
  text-align: center;
  background: #fff;

  a.toggle {
    height: inherit;
    display: inline-block;

    &.active {
      background: transparent;
    }


    img.circle {
      vertical-align: middle;
      border-radius: 50%;
      border: 1px solid $dark-grey;
    }

  }

  .dropdown {
    position:absolute;
    top: 44px;
    margin-top: -1px;
    max-height:0;
    overflow:hidden;
    -webkit-transform:perspective(400) rotate3d(1,0,0,-90deg);
            transform:perspective(400) rotate3d(1,0,0,-90deg);
    -webkit-transform-origin:50% 0;
        -ms-transform-origin:50% 0;
            transform-origin:50% 0;
    -webkit-transition:350ms;
            transition:350ms;
    width: 230px;
    background: #fff;

    &:before, &:after {
      content:"";
      display:table;
    }

    &.open {
      z-index: 99;
      padding: 1em;
      max-height:1000px;
      border: solid 1px rgba(160, 160, 160, 0.3);
      border-top: none;
      transform:perspective(400) rotate3d(0,0,0,0);
    }

    .header {
      padding: 5px;
      margin: 0;
      line-height: 1em;
    }

    .body {
      padding: 5px;
      line-height: 1em;
      text-align: justify;

      form {

        fieldset {
          display: inline-block;
          width: 76%;
        }

        .fa-stack {
          width:20%;
          display: inline-block;
          vertical-align: baseline;
        }

      }

      a {
        line-height: 2em;
        border-color: $middle-grey;

        &[disabled] {
          color: $middle-grey;
          cursor: default;
          text-decoration: none;
        }

      }

    }

    .footer {
      text-align: right;
    }

    a {
      display: block;
    }
  }
}

