span.tooltip {
  position: relative;
  display: inline-block;

  > span {
    position: absolute;
    width:140px;
    color: #fff;
    background: #000;
    height: 30px;
    line-height: 30px;
    text-align: center;
    visibility: hidden;
    border-radius: 6px;

    &:after {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -8px;
      width: 0; height: 0;
      border-top: 8px solid #000;
      border-right: 8px solid transparent;
      border-left: 8px solid transparent;
    }

    &:hover > span {
      visibility: visible;
      opacity: 0.8;
      bottom: 30px;
      left: 50%;
      margin-left: -76px;
      z-index: 999;
    }
  }
}


.alert.active {
  position: fixed; /* or absolute */
  top: 4em;
  width: 100%;
  text-align: center;
  box-shadow: 0px 4px 10px -2px #000;
  background: #f4f4f4;
  opacity: 0.5;
  border: 1px solid $middle-grey;
  padding: 1em;

  &.alert-danger {
    background: $red;
    color: #fff;
  }
  &.alert-success {
    background: $blue;
    color: #fff;
  }
}
