<td>
  {{input type='text' value=model.firstName placeholder="First name"}} <br>
  {{input type='text' value=model.lastName placeholder="Last name"}} <br>
  {{input type='text' value=model.email placeholder="email"}}

  {{outlet}}

</td>
