<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">

      <div class="panel panel-default">
        <article class="panel-body">

          {{!-- EDIT BUTTON --}}
          {{#if authentication.isLoggedIn}}
            {{#link-to 'post.edit' model class="pull-right"}}
              <small>edit {{fa-icon "pencil" size="1"}}</small>
            {{/link-to}}
          {{/if}}

          {{!-- ARTICLE HEADER --}}
          <h3>
            {{#link-to 'post.index' model}}
              {{model.title}}
            {{/link-to}}
          </h3>

          <hr>

          {{!-- POST BODY --}}
          <div class="justify-text">
            {{{model.body}}}
          </div>

        </article> {{!-- end panel-body --}}
      </div> {{!-- end panel --}}

    </div> {{!-- end col-md-12 --}}
  </div> {{!-- end row --}}
</div> {{!-- end container --}}