<div class="ui segments">
  <div class="ui segment">
    All posts
  </div>
  {{#each model as |post|}}

    <div class="ui green segment">
      {{#if authentication.isLoggedIn}}
        {{#link-to 'post.edit' post class="ui green right floated basic button" tagName='button'}}
          <i class="ui icon write"></i> Edit
        {{/link-to}}
      {{/if}}

      {{#link-to 'post.index' post class="ui green header" tagName="h3"}}
        {{post.title}}
      {{/link-to}}

      <hr>

      {{{post.body}}}

    </div>


  {{/each}}
</div>



