<div class="panel">
  <div class="body">

    {{#each model as |post|}}
      <article class="three-quarter">

        {{#if authentication.isLoggedIn}}
          {{#link-to 'post.edit' post class="pull-right"}}
            <small>edit {{fa-icon "pencil" size="1"}}</small>
          {{/link-to}}
        {{/if}}

        <h3>
          {{#link-to 'post.index' post}}
            {{post.title}}
          {{/link-to}}
        </h3>
        <hr>
        <div class="post-body justify-text">
          {{{post.body}}}
        </div>

      </article>

    {{/each}}

    <aside class="quarter">
      <p>
        <h4>sidebar</h4>

      </p>
    </aside>

  </div>
</div>