{{!-- <header>

  <nav class="col">
    <ul>
      <li>
        {{#link-to 'index' class="logo"}}
          sommer
        {{/link-to}}
      </li>
      <li>
      </li>
      {{#if authentication.isLoggedIn}}
        <li>
          {{#link-to 'users'}} Users {{/link-to}}
        </li>
      {{/if}}
      <li class="pull-right">
        {{login-form authentication=authentication action='goToProfile'}}
      </li>
    </ul>
    <i class="fa fa-bars"></i>
  </nav>

</header> --}}
  <nav class="ui secondary pointing menu nav nav--site">

    {{#link-to "index" class="inverted orange item"}}
      sommer
    {{/link-to}}

    {{#link-to 'posts' class="inverted green item"}}
      Posts
    {{/link-to}}

    {{#if authentication.isLoggedIn}}
      {{#link-to "users" class="inverted blue item"}}
        Users
      {{/link-to}}
    {{/if}}


    <div class="right menu">
      {{login-form authentication=authentication action='goToProfile' class="item"}}

    </div>
  </nav>
