<header>

  <div class="wrapper ">
    <div>
      {{#link-to 'index'}}
        {{!-- <img src="assets/images/logo.png" class="logo"/> --}}
        {{!-- <span class="logo"><h2>sommer</h2></span> --}}
      {{/link-to}}
    </div>

    <nav class="col">
      <ul>
        <li>
          {{#link-to 'index'}} Home {{/link-to}}
        </li>
        {{#if authentication.isLoggedIn}}
          <li>
            {{#link-to 'users'}} Users {{/link-to}}
          </li>
        {{/if}}
        <li>
          {{login-form authentication=authentication}}
        </li>
      </ul>
      <i class="fa fa-bars"></i>
    </nav>

  </div>


</header>