
<div class="panel">

  <div class="body">


    <article class="three-quarter">

      <div>
        <h3>
          User management with <a href="emberjs.com" target="_blank">Ember.js</a> and  <a href="firebase.com" target="_blank">firebase</a>
        </h3>
        <hr>

        <p class="justified">
          This projects aims to give a seamless experience of user management with firebase. As The authorization access is seperated from the normal backend for security reasons, the user management needs to synchronize between the authorization and the database table.
        </p>

        <p>
          The source code can be found on <a href="https://github.com/GerritSommer/ember-firebase-user-management" target="_blank">Github</a>
        </p>

        <p>
          <strong>
            ** This is work on progress. Some features are disabled until they work.
          </strong>
        </p>


      </div>

    </article>

      <aside class="quarter text-center">
        <p>
          <h4>TODO:</h4>
          <ul>
            <li>- Responsify</li>
            <li>- Implement password change</li>
            <li>- Readd user creation</li>
          </ul>
        </p>
      </aside>


  </div>

  {{outlet}}

</div>

